<div class="page-width page-width--narrow page-content">
  {%- render 'breadcrumbs' -%}
  <header class="section-header">
    <h1 class="section-header__title">{{ page.title }}</h1>
  </header>

  <div class="rte rte--nomargin">
    <p class="custom-services-description">Thank you for interest in Southern Throne Custom Services. Please read our custom order policy before completing this form.</p>
    {{ page.content }}
  </div>
</div>
